# =========================
# ROS 2 / Colcon
# =========================
build/
install/
log/
.colcon/

# =========================
# Gazebo / Ignition
# =========================
~/.gazebo/
*.log

# =========================
# Python
# =========================
__pycache__/
*.pyc
*.pyo

# =========================
# COLMAP / Photogrammetry
# =========================
colmap.db
sparse/
dense/
images/*.jpg
images/*.png

# =========================
# OS / Editor
# =========================
.DS_Store
Thumbs.db
.vscode/
.idea/
